.deckView {
        
        background-image: url(./immagini/sabbia.jpeg);
        height:100vh;
        background-color: black;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    
}

.urlBox{
        size: 60%;
        color: rgb(50,50,50,0.5);

}

.deckForm{
        justify-content: center;
}