.tableSelect {
    background-image: url(./immagini/kingdom_of_agartha.jpeg);
    height:100vh;
    width: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}